/API/venv
/API/.env
*__pycache__
/API/test*.py
/API/test.ipynb
/API/assistant.py
*db_dummy_data.py
*instruction.py
*.pyc
*test_data_queries.py
*sample_texts.py
*node_modules*
*package-lock.json
*package.json
*webpack.config.js
*src
*public
*build
*dist
*node_modules
*.ts